.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 50px;
}

.window {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 30vw;
  height: 30vh;
  border: 1px solid black;
}

.window_btn:first-child {
  border-right: 1px solid black;
}

.window_btn {
  font-size: 20px;
  height: 20%;
  width: 50%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.window_form {
  width: 100%;
  height: 80%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.join_input, .create_input {
  margin-top: 5px;
  width: 100%;
  padding: 5px;
}

.join_select {
  margin-top: 5px;
  width: 100%;
  padding: 5px;
}

.join_btn, .create_btn {
  border: none;
  color: #fff;
  padding: 6px;
  background-color: black;
}
